<nav class="level">
  <div class="level-left">
  </div>
  <div class="level-right">
    <p class="level-item">
      <%= link_to new_veneration_path, class: 'button is-primary' do %>
        <span class="icon">
          <i class="fas fa-upload"></i>
        </span>
        <span>Upload</span>
      <% end %>
    </p>
  </div>
</nav>

<table class="venerations table is-fullwidth">
  <thead>
    <tr>
      <th></th>
      <th>Uploader</th>
      <th>Caption</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <% @venerations.each do |veneration| %>
      <tr>
        <td><%= link_to image_tag(veneration.image.variant(resize: '100x100')), veneration %></td>
        <td><%= veneration.user.name %></td>
        <td><q><%= veneration.caption %></q></td>
        <td><%= score_tag veneration.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @venerations %>
