<p>
  <strong>User:</strong>
  <%= @veneration.user.email %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @veneration.caption %>
</p>

<p>
  <strong>Score:</strong>
  <%= @veneration.score %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @veneration.image %>
</p>

<% if @veneration.user == current_user %>
<%= link_to 'Edit', edit_veneration_path(@veneration) %> |
<% end %>
<%= link_to 'Back', venerations_path %>
