<!DOCTYPE html>
<html>
  <head>
    <title>Gif Grades</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Gif Grades</h1>
      <% if current_user %>
        <p><%= current_user.name %></p>
        <p><%= link_to 'Sign Out', sign_out_path %></p>
      <% else %>
        <p><%= link_to 'Sign In', sign_in_path %></p>
      <% end %>
    </header>
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
